<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
</head>
<body>
    <form method="POST">
        <select name="eid">
            {% for e in EID %}
            <option>{{ e.eid }}</option>
            {% endfor %}
        </select>
        <select name="model_Name">
            {% for m in model_Name %}
            <option>{{ m.model_Name }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="送出" id="btn">
    </form>
    {% for r in result %}
    <div>{{ r.eid }}</div>
    <div>{{ r.model_Name }}</div>
    <div>{{ r.value_without }}</div>
    <div>{{ r.time }}</div>
    {% endfor %}
</body>
</html>
